click~=7.1.2
setuptools~=50.1.0
tabulate==0.8.9
pandas~=1.3.3
matplotlib==3.4.3
seaborn~=0.11.1
scikit-posthocs==0.6.7
scikit-learn==1.3.2
fpdf==1.7.2
typing-extensions==4.0.1
psutil==5.9.0
importlib-resources==5.4.0
multiprocess==0.70.12.2
networkx~=2.6
PyYAML==6.0
tqdm==4.64.0
nicegui
karateclub
panel
hvplot
colorama==0.4.6

